@font-face { src: url('../fonts/NotoSerifSinhala-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'sinhala'; }
@font-face { src: url('../fonts/NotoSerifSinhala-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'sinhala'; }

@font-face { src: url('../fonts/NotoSerifDevanagari-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'devanagari'; }
@font-face { src: url('../fonts/NotoSerifDevanagari-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'devanagari'; }

@font-face { src: url('../fonts/NotoSerif-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'roman'; }
@font-face { src: url('../fonts/NotoSerif-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'roman'; }

@font-face { src: url('../fonts/thai/THSarabunNew.ttf') format('truetype'); font-weight: normal; font-family: 'thai'; }
@font-face { src: url('../fonts/thai/THSarabunNew-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'thai'; }

@font-face { src: url('../fonts/lao/LaoPaliAlpha-Light.woff') format('truetype'); font-weight: normal; font-family: 'lao'; }
@font-face { src: url('../fonts/lao/LaoPaliAlpha-Regular.woff') format('truetype'); font-weight: bold; font-family: 'lao'; }

@font-face { src: url('../fonts/myanmar/mm3-multi-os(16-08-2011).ttf') format('truetype'); font-weight: normal; font-family: 'myanmar'; }
@font-face { src: url('../fonts/myanmar/mm3-multi-os(16-08-2011).ttf') format('truetype'); font-weight: bold; font-family: 'myanmar'; }

@font-face { src: url('../fonts/NotoSerifKhmer-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'khmer'; }
@font-face { src: url('../fonts/NotoSerifKhmer-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'khmer'; }

@font-face { src: url('../fonts/NotoSerifBengali-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'bengali'; }
@font-face { src: url('../fonts/NotoSerifBengali-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'bengali'; }

@font-face { src: url('../fonts/NotoSansGurmukhi-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'gurmukhi'; }
@font-face { src: url('../fonts/NotoSansGurmukhi-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'gurmukhi'; }

@font-face { src: url('../fonts/lanna/Hariphunchai.otf') format('truetype'); font-weight: normal; font-family: 'tai tham'; }
@font-face { src: url('../fonts/lanna/Hariphunchai.otf') format('truetype'); font-weight: bold; font-family: 'tai tham'; }

@font-face { src: url('../fonts/NotoSerifGujarati-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'gujarati'; }
@font-face { src: url('../fonts/NotoSerifGujarati-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'gujarati'; }

@font-face { src: url('../fonts/NotoSerifTelugu-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'telugu'; }
@font-face { src: url('../fonts/NotoSerifTelugu-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'telugu'; }

@font-face { src: url('../fonts/NotoSerifKannada-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'kannada'; }
@font-face { src: url('../fonts/NotoSerifKannada-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'kannada'; }

@font-face { src: url('../fonts/NotoSerifMalayalam-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'malayalam'; }
@font-face { src: url('../fonts/NotoSerifMalayalam-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'malayalam'; }

@font-face { src: url('../fonts/NotoSansBrahmi-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'brahmi'; }

@font-face { src: url('../fonts/tibetian/NotoSansTibetan-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'tibetan'; }
@font-face { src: url('../fonts/tibetian/NotoSansTibetan-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'tibetan'; }

@font-face { src: url('../fonts/NotoSerif-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'cyrillic'; }
@font-face { src: url('../fonts/NotoSerif-Bold.ttf') format('truetype'); font-weight: bold; font-family: 'cyrillic'; }

.localized[script=si] span { font-family: 'sinhala' !important; line-height: 1.5rem !important; }
.localized[script=hi] span { font-family: 'devanagari' !important; }
/* .localized[script=ro] span { font-family: 'roman' !important; } */
.localized[script=th] span { font-family: 'thai' !important; font-size: 1.5rem !important; line-height: 1.7rem !important; }
.localized[script=lo] span { font-family: 'lao' !important; line-height: 170% !important; /*font-size: 125%;*/ }
.localized[script=my] span { font-family: 'myanmar' !important; }
.localized[script=km] span { font-family: 'khmer' !important; }
.localized[script=be] span { font-family: 'bengali' !important; }
.localized[script=gm] span { font-family: 'gurmukhi' !important; }
.localized[script=tt] span { font-family: 'tai tham' !important; font-size: 1.5rem !important; }
.localized[script=gj] span { font-family: 'gujarati' !important; }
.localized[script=te] span { font-family: 'telugu' !important; }
.localized[script=ka] span { font-family: 'kannada' !important; }
.localized[script=mm] span { font-family: 'malayalam' !important; }
.localized[script=br] span { font-family: 'brahmi' !important; }
.localized[script=tb] span { font-family: 'tibetan' !important; }
.localized[script=cy] span { font-family: 'cyrillic' !important; }
