:root {
  --main-footer-height: 1rem;
  --main-sidebar-width: 23rem;
  --splitter-width: 0.75rem;
  --splitter-background: center center no-repeat #b3b3b3;
  --v-splitter-background: url(/_dprhtml/images/vsizegrip.png)
    var(--splitter-background);
  --h-splitter-background: url(/_dprhtml/images/hsizegrip.png)
    var(--splitter-background);
  --bottom-pane-tab-side-length: 2.1rem;
  --context-menu-width: 19.25rem;
}

html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

/*
 General utilites
 */
.dpr-collapsible-card.card .card-header > a {
  display: block;
  position: relative;
}

.dpr-collapsible-card.card .card-header > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

.dpr-collapsible-card.card .card-header > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.mat-button-group-seperator {
  margin: 0rem 0.2rem;
  border-radius: 1px;
  border: 1px ridge lightgray;
}

body.modal-open {
  padding-right: 0 !important;
}

body .btn {
  box-shadow: 0 0 0 transparent !important;
}

body .bd-highlight {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
}

#main-container-toast-container {
  top: 2rem;
  right: 2rem;
}

#main-container-toast-container .toast {
  position: relative;
  z-index: 1000;
}

#main-container-loading-page {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #FFD;
}

#main-container-loading-page-progressbar.nanobar .bar {
  background-color: #38f;
}

#main-container-loading-page-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spin-img-infinitely {
  animation: spin-img-infinitely-kfs 8s infinite linear;
}

@keyframes spin-img-infinitely-kfs {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

#main-container {
  height: 100%;
  width: 100%;
}

#main-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--main-footer-height));
  overflow: auto;
}

#main-footer {
  height: var(--main-footer-height);
  font-size: calc(0.75 * var(--main-footer-height));
  background-color: #f2f2f2;
}

#main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-footer ul li {
  margin: 0 0.25rem;
  font-size: calc(0.75 * var(--main-footer-height));
}

#main-footer ul li a {
  color: blue;
}

#main-sidebar {
  flex: 0 0 auto;
  min-width: var(--main-sidebar-width);
  width: var(--main-sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
}

#main-sidebar #main-sidebar-content {
  height: 100%;
  width: 100%;
  border: 0px;
}

#main-panel-splitter {
  flex: 0 0 auto;
  width: var(--splitter-width);
  background: var(--v-splitter-background);
  cursor: col-resize;
}

#main-content-landing-page {
  height: 100%;
  width: 100%;
}

#main-content {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
}

#main-content-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#main-pane {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

#main-content-panel-splitter {
  flex: 0 0 auto;
  height: var(--splitter-width);
  background: var(--h-splitter-background);
  cursor: row-resize;
}

#main-bottom-pane {
  height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}

#main-bottom-pane-root {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--bottom-pane-tab-side-length) 1fr;
  grid-template-rows: auto;
  grid-gap: 0.1rem;
}

#main-bottom-pane-tabs {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0.15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1px var(--bottom-pane-tab-side-length)) auto;
}

#main-bottom-pane-tabs .main-bottom-pane-tab {
  text-align: center;
  margin: 1px;
}

#main-bottom-pane-tabs .main-bottom-pane-tab span {
  vertical-align: middle;
}

#main-bottom-pane-tabs .main-bottom-pane-tab:hover{
  background-color: lightblue;
  cursor: default;
}

.main-bottom-pane-tab-pressed {
  background-color: lightblue;
  cursor: default;
}

#main-bottom-pane-tabs .main-bottom-pane-tab-separator {
  border: 1px ridge #e7e7e7;
  height: 1px;
}

#main-bottom-pane-tab-panes {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 2px ridge #e7e7e7;
}

#main-pane-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
}

.main-pane-container-section {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-pane-container-section-command-container {
  position: fixed;
  margin: 1rem;
}

.main-pane-container-section-command {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  opacity: 0.7;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  margin-right: 0.1rem;
  border-width: 0rem;
  text-align: center;
  background-color: darkgrey;
}

.main-pane-container-section-close:hover {
  opacity: 1.0;
}

.main-pane-container-section-close.btn:hover, .main-pane-container-section-close.btn:active {
  color: white !important;
  background-color: red !important;
}

.main-pane-container-section-iframe {
  height: 99%;
  width: 100%;
  border: 0px;
}

.main-pane-container-splitter {
  flex: 0 0 auto;
  width: var(--splitter-width);
  background: var(--v-splitter-background);
  cursor: col-resize;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar {
  -webkit-appearance: none;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar:vertical {
  width: 11px;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar:horizontal {
  height: 11px;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
  #main-sidebar {
    min-width: calc(0.5 * var(--main-sidebar-width));
  }
}

@media screen and (max-width: 768px) {
  .main-footer-help {
    display: none;
  }
}

#main-bottom-pane-tab-panes-D {
  height: 100%;
}

#main-bottom-pane-tab-panes-D #main-bottom-pane-tab-panes-D-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#main-bottom-pane-tab-panes-Cv {
  height: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(3, auto) repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinput {
  grid-column: 1 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div {
  grid-column: 2 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div label, #main-bottom-pane-tab-panes-Cv .cv-container #coutform-div label {
  align-self: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div #cinform {
  width: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cactions {
  grid-column: 3 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cactions #cactions-lowercase {
  display: flex;
  flex-direction: row;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutform-div #coutform {
  width: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutform-div {
  grid-column: 4 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutput {
  grid-column: 5 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj {
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

#main-bottom-pane-tab-panes-Cj-form {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 30px 30px;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

#main-bottom-pane-tab-panes-Cj-form #word-div {
  grid-column: 1 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #word-input {
  grid-column: 2 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #form-div {
  grid-column: 1 / span 1;
  grid-row: 2;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #form-input {
  grid-column: 2 / span 1;
  grid-row: 2;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Tp .separator {
  width: 1px;
  height: 25px;
  background-color: #777;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

/*
 * Navigation
 */

.main-pane-container-section #main-pane-container-section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-pane-container-section #main-pane-container-section-header p {
  margin: 0rem;
}

.main-pane-container-section #main-pane-container-section-header div a {
  margin: 0rem;
}

/*
 * Settings dialog
 */

#settings-pane #settings-pane-tabs {
  display: flex;
  flex-direction: row;
}

#settings-pane #settings-pane-tabs .settings-pane-tab {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
}

#settings-pane #settings-pane-tabs .settings-pane-tab:hover {
  background-color: lightblue;
}

#settings-pane #settings-pane-tabs .settings-pane-tab.settings-pane-tab-selected {
  background-color: #eee;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  width: 100%;
  height: 100%;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0.25rem;
  border: 1px solid #eee;
  padding: 0.15rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section * {
  margin: 0;
  align-self: center;
  justify-self: start;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-header {
  grid-column: 1 / -1;
  font-weight: bolder;
  font-size: smaller;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-2col-grid {
  grid-template-columns: minmax(min-content, min-content) auto;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-4col-grid {
  grid-template-columns: minmax(min-content, min-content) minmax(min-content, max-content) auto minmax(min-content, min-content);
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-3col-grid {
  grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, min-content);
}

/*
 * Installation
 */

#installation-pane #installation-pane-tab-panes .installation-pane-tab-pane .installation-pane-tab-pane-section * {
  margin: 0;
  align-self: center;
  justify-self: start;
}

#installationProgress {
  width: 100%;
  background-color: #ddd;
}

#installationBar {
  width: 0%;
  height: 20px;
  background-color: #2400ee;
  white-space: nowrap;
  text-align: center;
  line-height: 20px;
  color: white;
}

/*
 * Navigation Tab
 */

#navigationTabContent #mat-button-group input[type="radio"] {
  position: fixed;
  opacity: 0;
  width: 0;
}

#navigationTabContent #mat-button-group label {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  margin: 0;
}

#navigationTabContent #mat-button-group label:hover {
  background-color: #DBE9F5;
}

#navigationTabContent #mat-button-group input[type="radio"]:checked + label {
  background-color: #C3DFF6;
}

#navigationTabContent #mat-button-group input[type="radio"]:focus + label {
  color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

/*
 * Search Tab
 */
#main-content-panel #search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/*
  Context Menu
 */

#context-menu-top-level {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 900;
}

#context-menu-top-level #context-menu-top-level-open-sidebar {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  opacity: 0.7;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  border-width: 0rem;
  text-align: center;
  background-color: darkgrey;
}

#context-menu {
  position: absolute;
  top: 1rem;
  left: 3.1rem;
  display: flex;
  flex-direction: column;
  z-index: 900;
}

#context-menu #context-menu-handle {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  opacity: 0.7;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  background-color: darkgrey;
}

#context-menu #context-menu-handle #context-menu-launcher-icon {
  transition: transform .1s ease-in-out;
}

#context-menu #context-menu-main {
  background-color: darkgrey;
  display: none;
  border-radius: 5px;
}

#context-menu:hover #context-menu-handle {
  opacity: 1.0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#context-menu:hover #context-menu-handle #context-menu-launcher-icon {
  transform: rotate(180deg);
}

#context-menu:hover #context-menu-main {
  display: unset;
  border-top-left-radius: 0px;
}

#context-menu #context-menu-main #context-menu-main-row1 {
  margin: 0.15rem 0.15rem 0 0.15rem;
}

#context-menu #context-menu-main #context-menu-main-row2 {
  margin: 0 0.15rem 0.15rem 0.15rem;
}

#context-menu #context-menu-main .context-menu-main-row {
  display: flex;
  flex-direction: row;
  padding: 0.15rem;
  justify-content: center;
  align-content: center;
  align-items: center
}

#context-menu #context-menu-main .context-menu-main-row .context-menu-main-row-group {
  margin: 0rem 0.3rem;
}

#context-menu #context-menu-main .context-menu-main-row .context-menu-main-row-group button {
  width: 2rem;
  height: 2rem;
  margin: 0px;
}

#context-menu #context-menu-main .context-menu-main-row .context-menu-main-row-group button .context-menu-command-icon {
  width: 0.75rem;
  height: 0.875rem;
  margin: 0px;
  padding: 0px;
}
