#dpr-button {
  list-style-image: url("chrome://digitalpalireader/skin/icons/logo24.png");
}
toolbar[iconsize="small"] #dpr-button {
  list-style-image: url("chrome://digitalpalireader/skin/icons/logo.png");
}
#dpr-context, #dpr-sub-context {
  list-style-image: url("chrome://digitalpalireader/skin/icons/dpr-index16.png");
}
