body
{
	background-color: #FFFFFF;
	font-size: 12pt;
	color: #626278;
	margin: 0px
}
p
{
	margin-top: 13px;
}
hr
{
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
	margin-right: 0px;
	border: none;
}

a:link {color: #648BCB; text-decoration:none}
a:active {color: #648BCB; text-decoration:none}
a:visited {color: #648BEE; text-decoration:none}
a:hover {color: #82AC83; text-decoration:none}

.main
{
	position: absolute;
	left: 10px;
	top: 100px;
	padding-bottom: 10px; font-size:12pt
}
.button
{
	position: absolute;
	left: 188px;
	top: 67px;
	font-size: 12pt;
	width: 75px;
}
.checkbox
{
	position: absolute;
	left: 270px;
	top: 67px;
	font-size: 12pt;
}
.checkbox2
{
	position: absolute;
	left: 320px;
	top: 67px;
	font-size: 12pt;
}
.text
{
	position: absolute;
	left: 10px;
	top: 67px;
	font-size: 12pt;
	width: 165px;
	color: #626278
}