:root {
  --main-footer-height: 1rem;
  --main-content-header-height: 3rem;
  --main-sidebar-width: 22rem;
  --splitter-width: 0.75rem;
  --splitter-background: center center no-repeat #b3b3b3;
  --v-splitter-background: url(/digitalpalireader/content/images/vsizegrip.png)
    var(--splitter-background);
  --h-splitter-background: url(/digitalpalireader/content/images/hsizegrip.png)
    var(--splitter-background);
  --bottom-pane-tab-side-length: 2.1rem;
}

html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.center {
  text-align: center;
}

#main-container-loading-page {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #FFD;
}

#main-container-loading-page-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spin-img-infinitely {
  animation: spin-img-infinitely-kfs 8s infinite linear;
}

@keyframes spin-img-infinitely-kfs {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

#main-container {
  height: 100%;
  width: 100%;
}

#main-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--main-footer-height));
  overflow: auto;
}

#main-footer {
  height: var(--main-footer-height);
  font-size: calc(0.75 * var(--main-footer-height));
  background-color: #f2f2f2;
}

#main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-footer ul li {
  margin: 0 0.25rem;
  font-size: calc(0.75 * var(--main-footer-height));
}

#main-footer ul li a {
  color: blue;
}

#main-sidebar {
  flex: 0 0 auto;
  min-width: var(--main-sidebar-width);
  width: var(--main-sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  margin-left: calc(0rem - var(--main-sidebar-width));
}

#main-sidebar #main-sidebar-content {
  height: 100%;
  width: 100%;
  border: 0px;
}

#main-panel-splitter {
  flex: 0 0 auto;
  width: var(--splitter-width);
  background: var(--v-splitter-background);
  cursor: col-resize;
  display: none;
}

#main-content-landing-page {
  height: 100%;
  width: 100%;
}

#main-content {
  flex: 1 1 auto;
  overflow: auto;
}

#main-content-header {
  height: var(--main-content-header-height);
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-content-header-context-commands, #main-content-header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-content-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#main-pane {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

#main-content-panel-splitter {
  flex: 0 0 auto;
  height: var(--splitter-width);
  background: var(--h-splitter-background);
  cursor: row-resize;
}

#main-bottom-pane {
  height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}

#main-bottom-pane-root {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--bottom-pane-tab-side-length) 1fr;
  grid-template-rows: auto;
  grid-gap: 0.1rem;
}

#main-bottom-pane-tabs {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0.15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1px var(--bottom-pane-tab-side-length)) auto;
}

#main-bottom-pane-tabs .main-bottom-pane-tab {
  text-align: center;
  margin: 1px;
}

#main-bottom-pane-tabs .main-bottom-pane-tab span {
  vertical-align: middle;
}

#main-bottom-pane-tabs .main-bottom-pane-tab:hover{
  background-color: lightblue;
  cursor: default;
}

.main-bottom-pane-tab-pressed {
  background-color: lightblue;
  cursor: default;
}

#main-bottom-pane-tabs .main-bottom-pane-tab-separator {
  border: 1px ridge #e7e7e7;
  height: 1px;
}

#main-bottom-pane-tab-panes {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 2px ridge #e7e7e7;
}

#main-pane-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
}

#main-pane-text-container {
  flex: 0 0 auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#main-pane-container-splitter {
  flex: 0 0 auto;
  width: var(--splitter-width);
  background: var(--splitter-background);
  cursor: col-resize;
}

#main-pane-translations-container {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar {
  -webkit-appearance: none;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar:vertical {
  width: 11px;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar:horizontal {
  height: 11px;
}

.force-show-scrollbar-on-macos::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
  #main-sidebar {
    margin-left: calc(-1 * var(--main-sidebar-width));
    min-width: calc(0.5 * var(--main-sidebar-width));
  }

  #main-panel-splitter {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-footer-help {
    display: none;
  }
}

#main-bottom-pane-tab-panes-D {
  height: 100%;
}

#main-bottom-pane-tab-panes-D #main-bottom-pane-tab-panes-D-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#main-bottom-pane-tab-panes-Cv {
  height: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(3, auto) repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinput {
  grid-column: 1 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div {
  grid-column: 2 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div label, #main-bottom-pane-tab-panes-Cv .cv-container #coutform-div label {
  align-self: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cinform-div #cinform {
  width: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cactions {
  grid-column: 3 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #cactions #cactions-lowercase {
  display: flex;
  flex-direction: row;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutform-div #coutform {
  width: 100%;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutform-div {
  grid-column: 4 / span 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-bottom-pane-tab-panes-Cv .cv-container #coutput {
  grid-column: 5 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj {
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

#main-bottom-pane-tab-panes-Cj-form {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 30px 30px;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

#main-bottom-pane-tab-panes-Cj-form #word-div {
  grid-column: 1 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #word-input {
  grid-column: 2 / span 1;
  grid-row: 1;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #form-div {
  grid-column: 1 / span 1;
  grid-row: 2;
  resize: unset;
  margin: 0.5rem;
}

#main-bottom-pane-tab-panes-Cj-form #form-input {
  grid-column: 2 / span 1;
  grid-row: 2;
  resize: unset;
  margin: 0.5rem;
}

/*
  Settings dialog
*/
#settings-pane #settings-pane-tabs {
  display: flex;
  flex-direction: row;
}

#settings-pane #settings-pane-tabs .settings-pane-tab {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
}

#settings-pane #settings-pane-tabs .settings-pane-tab:hover {
  background-color: lightblue;
}

#settings-pane #settings-pane-tabs .settings-pane-tab.settings-pane-tab-selected {
  background-color: #eee;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  width: 100%;
  height: 100%;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0.25rem;
  border: 1px solid #eee;
  padding: 0.15rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section * {
  margin: 0;
  align-self: center;
  justify-self: start;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-header {
  grid-column: 1 / -1;
  font-weight: bolder;
  font-size: smaller;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-2col-grid {
  grid-template-columns: minmax(min-content, min-content) auto;
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-4col-grid {
  grid-template-columns: minmax(min-content, min-content) minmax(min-content, max-content) auto minmax(min-content, min-content);
}

#settings-pane #settings-pane-tab-panes .settings-pane-tab-pane .settings-pane-tab-pane-section-3col-grid {
  grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, min-content);
}
