/* static - don't move these */

/*font*/

caption,listbox,menulist,listitem,menuitem, input, textarea,checkbox,button,toolbarbutton { 
}

/*color & normal size */

caption,checkbox,button,toolbarbutton,listbox,menulist {
}

listbox,listitem, menulist,menuitem, textbox {
}

listbox, menubox, textbox {
}

button,toolbarbutton {
}

.small {
}

.tiny  {
}

.large {
}


.huge {
}


.chromeback {
}

/* end static */

.bold {
	font-weight:bold;
}

#outer {
overflow:auto;
padding:10px;
}

menulist {
	min-height:28px;
	max-height:34px;
}
textbox {
	min-height:20px;
	max-height:25px;
}
toolbarbutton {
	min-height:30px;
	max-height:40px;
}

.pointer:hover{
	cursor:pointer;
}
separator {
	border:silver 1px solid;
}

splitter {
	margin:5px;
}

listbox {
	width:auto;
}
