body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dictType-seperator-option {
  font-size: 0.2em;
}

#dictAdvOpts .card-header > a {
  display: block;
  position: relative;
}

#dictAdvOpts .card-header > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

#dictAdvOpts .card-header > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}




.intro-message {
  display: none;
}
