body {
	margin:0;
	padding:0;
	overflow:hidden;
}
#nav-rel-div {
	width:100%;
	position:relative;
}

.clear {
	clear: both;
}

#nav-hier-div {
}

#nav-hier {
	text-align:center;
}
#nav-hier input {
	font-weight:bold;
	background:transparent;
	border:none;
}
#nav-hier input:hover {
	background:#DDD;
	cursor:pointer;
}
#nav-title {
	width:100%;
}

#tbContainer {
	display:none;
}

#top-div{
	top:0px;
	bottom:0px;
	left:28px;
	right:0px;
	margin:0;
	padding:0;
	overflow:hidden;
}

#div1 {
	position:absolute;
	top:0;
	left:0px;
	right:0px;
}
#div2 {
	width:100%;
	margin-top:40px;
}

#divb {
	position:absolute;
	bottom:0px;
	left:28px;
	right:0px;
	overflow:hidden;
	background:white;
	border:1px black solid;
	display:none;

}


#prefs-button {
	position:absolute;
	top:28px;
	right:0px;
	width:28px;
	height:24px;
	background:#EEE;
	border-bottom-left-radius:5px;
	border-left:1px solid black;
	border-bottom:1px solid black;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	z-index:1000;
}
#pref-box {
	display:none;
	background:#F0F0F0;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;	
	z-index:999;
	border-bottom:1px solid black;
}
#bottom {  
	position:relative;
	height:300px;
	overflow:auto;
}
#bottom-content {
	position:relative;
}

#anf {
	position:relative;
	width:100%;
	height:auto;
	z-index:3;
}

#anfright {
	width:70%;
	max-width:70%;
	padding-right:20px;
	
}

#dictc {
	position:relative;
	height:100%; 
	overflow:auto;
	padding:0 10px 0 10px;
}
#odif {
	position:relative;
	width:100%; 
	overflow:auto;
}
#difout {

}
#cdif {

}
#dif {

padding:0 20px;
 
}


#nav-rel-div > div {
	float:left;
}


#content{
	position:absolute;
	bottom:0px;
	top:0px;
	right:0px;
	margin:0;
	padding:0;	
	overflow:auto;
}

#sidebar {
	background:#EEE;
	width:300px;
	display:none;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	z-index:1000;
}

#close-bottom, #open-bottom {
	background:#EEE;
	cursor:pointer;
	text-align:center;
	border-bottom:1px solid black;
}
#open-bottom {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-bottom:1px solid black;
	border-top:1px solid black;
}

#close-left, #open-left {
	background:#EEE;
	cursor:pointer;
	text-align:center;
	border-right:1px solid black;
	border-left:1px solid black;
}
.left-open-close {
	position:absolute;
	top:50%;
	margin-top:-1em;
}
.bottom-open-close {
	padding-top:4px;
	height:28px;
}

#open-left {
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	z-index:1000;
}
#close-left {
	position:absolute;
	bottom:0;
	right:0;
	top:0;
}
