#content {
  width: 100%;
  height: 100%;
}

#top-frame {
  width: 100%;
  height: 100%;
}

#diva {
  width: 100%;
  height: 100%;
}

#maf {
  width: 100%;
  height: 100%;
}

#mafb {
  width: 100%;
  height: 100%;
}

#mafbc {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#paliTextContent {
  width: 100%;
  height: unset;
  overflow: hidden;
}

#paliTextContent .card {
  background-color: transparent;
}

#bottom {
  position: unset;
  height: unset;
  overflow: unset;
}

.dictType-seperator-option {
  font-size: 0.2em;
}

#dictAdvOpts .card-header > a {
  display: block;
  position: relative;
}

#dictAdvOpts .card-header > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

#dictAdvOpts .card-header > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.popover-link {
  color: blue;
  text-decoration: underline !important;
}
