body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFD;
}

#main-window {
  top: 0px;
  bottom: 0px;
  left: 28px;
  right: 0px;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
}

#nav-set, #nav-book {
  height: 7rem;
}

#nav-hier-div > .btn {
  min-width: 4rem;
}

#nav-title-button {
  position: absolute;
  right: 0px;
  height: 33.5px;
}

#top-frame {
  width: 100%;
}

#bottom {
  position: relative;
  height: 78%;
  overflow: auto;
}

#bottom-content {
  position: relative;
}

#anf {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 3;
}

#anfright {
  width: 70%;
  max-width: 70%;
  padding-right: 20px;
}

#dictc {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 0 10px 0 10px;
}

#odif {
  position: relative;
  width: 100%;
  overflow: auto;
}

#dif {
  padding: 0px;
}

#mafbc tr {
  font-weight: bold;
}

hr {
  width: 100vw;
}

.mainContent {
  margin-top: 15px;
}

.btn {
  margin-bottom: 15px;
}

.navbutton {
  width: 32px;
}

@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    width: 80%;
  }
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  flex-flow: column;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}

.bottomFrame {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottomFrame .bottomFrameHandle {
  text-align: center;
  background-color: #eeeeee;
}

.bottomFrame .bottomFrameContent {
  height: 250px;
  background-color: #cccccc;
  display: none;
}

.popover{
  max-width: 50%;
}

.intro-space {
  position: relative;
  margin-top: 12%;
  color: lightgrey;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 50px;
  color: lightgrey;
}

.grey {
  color: lightgrey;
}

/* CHEVRON ROTATION CODE*/
.rotate{
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.rotate.down{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}
