body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-window {
  top: 0px;
  bottom: 0px;
  left: 28px;
  right: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-set, #nav-book {
  height: 7rem;
}

#nav-hier-div > .btn {
  min-width: 4rem;
}

#top-frame {
  width: 100%;
}

#bottom-frame-content {
  position: relative;
  height: 100%;
  overflow: auto;
}

#bottom-frame {
  position: relative;
}

#anf {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 3;
}

#anfright {
  width: 70%;
  max-width: 70%;
  padding-right: 20px;
}

#dictc {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 0 10px 0 10px;
}

#odif {
  position: relative;
  width: 100%;
  overflow: auto;
}

#dif {
  padding: 0 20px;
}

.btn {
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    width: 80%;
  }
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  flex-flow: column;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}

.bottomFrame {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottomFrame .bottomFrameHandle {
  text-align: right;
  padding-right: 10px;
  background-color: #eeeeee;
}

.bottomFrame .bottomFrameContent {
  height: 250px;
  background-color: #cccccc;
  display: none;
}
