/* static - don't move these */

body, p, table, div, a, select, input, textarea {
	font-family: Sans;
	color: #111;
}

body, p, table, div, a {
	font-size: 16px;
}

select, input, textarea {
	font-size: 14px;
}

.small {
	font-size: 10px;
}

/* end static */

html, body {
 
width: 100%;
height: 100%;
margin:0;
padding:0;
overflow: hidden;
}

hr {
margin:4px;
margin-right:12px;
margin-left:12px;
color: #FFF;
background-color: #FFF;
}


input.btn, input.go {
  font: bold 84% 'courier new';
}

input.go {
  vertical-align:2px;
  margin-top:2px;
}


div { 
	margin:0;
	padding:0;
}
a:link       {  text-decoration:none }
a:visited    {  text-decoration:none }

img {  
	border-style: none;
}

.tabl {
margin-left:auto; 
margin-right:auto; 
}

#content {
position:absolute;
width:100%;
height:100%;
}

#cpopen {
position:absolute; 
top:-2px; 
left:2px;
width:15px;
height:15px;
}

#cpc {
position:absolute;
top:-1px;
left:-1px;
background-image:url('../images/ocback.png'); 
width:15px;
height:15px;
z-index:4;
}

#cpa {
font-size:16px;
font-family:courier;
font-weight:bold;
}

.toolbar {
border-spacing: 0px 0px;
border-collapse: separate;
padding:0px;
margin:0px;
}

.toolbarc {
border:1px solid grey;
background-color:#d9d4cc;
padding:0px;
margin:0px;
}

.spacer{
border:none;
background-color:transparent;
}

.toolbarspace{
height:20px;
}


#search {
border-left: grey 1px solid;
display:none; 
position:absolute;
bottom:0px;
right:0px;
top:0px;
left:-1px;
z-index:5;
}
#searchtb {
position:absolute; 
right:0;
bottom:-4px;
height:4px;
width:100%;
background-image:url('../images/bottomtrans.png'); 
}
#searcht { 
top:0; 
right:0;
left:-1px;
position:absolute; 
height:46px;
background-color:#d9d4cc; 
}
#stfab {
padding-right:10px; 
padding-left:10px;
}
#stfb {
padding-right:10px; 
padding-left:10px;
}
#searchb {  
position:absolute;
top:50px;
bottom:0px;
right:0px;
left:0px;
}

.label {
position:absolute;
top:0px;
right:0px;
border:grey 1px solid;
}

#sbfbc {
padding-right:10px; 
padding-left:10px; 
position:absolute;
top:0px;
bottom:0px;
right:0px;
left:0px;
overflow:auto;
}
#sbfab {  
padding-top:10px; 
}
#right {  
position:absolute;
bottom:0px;
top:0px;
right:0px;
left:254px;
}

#maf {
position:absolute; 
right:0px;
left:0px;
top:0px;
bottom:228px;
padding-bottom:20px;
}
#maft {
position:absolute;
margin-left:auto; 
margin-right: auto;
left:0px;
bottom:0px;
}
#maftopen {
display:none;
position:absolute;
left:0px;
bottom:0px;
}
#mafa {
position:absolute;
left:-1px;
bottom:0px;
width:100%;
}
#mafb {
height:100%;
padding:20px;
padding-bottom:0px;
overflow:auto;
}
#convi {
display:none;
}

#brmid {
position:absolute;
top:0px;
bottom:4px;
width:100%;
background-color:#d9d4cc;
}
#brbot {
position:absolute; 
right:0;
bottom:0;
height:4px;
width:100%;
background-image:url('../images/bottomtrans.png'); 
}
#anf {
border-top: grey 1px solid;
position:absolute;
bottom:152px;
right:0px;
left:-1px;
padding-top:10px; 
padding-bottom:10px; 
height:60px; 
z-index:3;
}
#anft {
padding-top:0px; 
padding-bottom:4px; 
padding-right:10px; 
padding-left:10px;
position:absolute;
top:0px;
right:0px;
left:0px;
bottom:4px;
overflow:auto;
}
#anfs {
position:absolute; 
bottom:4px; 
left:0px
}
#anfsd {
position:absolute; 
bottom:4px; 
right:0px
}

#corb {
position:absolute; 
bottom:2px; 
left:0px
}
#cort {
position:absolute; 
top:-2px; 
left:0px
}

#cors {
position:absolute; 
top:50px; 
left:-1px;
z-index:3;
}

#rightbot {  
position:absolute; 
bottom:0px;
right:0px;
left:0px;
height:160px;
}
#cdif {
position:absolute;
right:0px;
left:0px;
top:0px;
bottom:0px;
overflow:auto;
}
#dif {
position:absolute;
right:0px;
left:0px;
top:0px;
bottom:0px; 
padding-left:15px;
padding-right:15px;
padding-top:10px;
padding-bottom:10px;
 
}
#cof {
padding-right:10px; 
padding-left:10px;
display:none;
}
#scf {
padding-right:10px; 
padding-left:10px;
 
display:none;
}
#difb {
}
#lt {
border:1px solid grey;
position:absolute;
left:-1px;
top:0px
}
#lb {
border:1px solid grey;
position:absolute;
left:-1px;
bottom:0px
}

#left {  
position:absolute; 
top:0; 
left:0; 
width:254px;
height:100%;
z-index:2;
}

#brleft {
border-right: grey 1px solid;
position:absolute;
right:0px;
top:0;
width:100%;
height:100%;
background-color:#d9d4cc;
}
#cleft {  
position:absolute;
margin-right:4px; 
height:100%;
width:100%;
overflow:auto;
text-align:center;
}

#tleft {  
padding-right:10px; 
padding-left:10px; 
}
#bleft {  
position:relative;
}
#lleft {  
padding-top:10px; 
float:right;

}

#rleft {  
width:40px; 
float:left;
}

#spdout {
font-size:14px;
}

.butc {
border-collapse:collapse;
border-spacing:0px;
}
.lbut {
text-align:center;
vertical-align:middle;
height:30px;
width:24px;
background-image:url('../images/lb0.png');
}
.mbut {
vertical-align:middle;
text-align:center;
height:30px;
width:22px;
background-image:url('../images/mb0.png');
}
.rbut {
vertical-align:middle;
text-align:center;
height:30px;
width:24px;
background-image:url('../images/rb0.png');
}
.sbut {
background-image:url('../images/mats.png');
height:30px;
}

.hide { display: none; }
.green        { color: #00B900 }
.white        { color: #7F4C00 }
.yellow        { color: #FFFF00; font-weight:bold }
.blue        { color: #5353D5 }
.brown        { color: #000000 }
.grey        { color: grey }
.red        { color: red }

.green2        { color: #00B900; font-weight:bold }
.yellow2        { color: #FFFF00; font-weight:bold }
.blue2        { color: #5353D5; font-weight:bold }

.blueh		{background-color: powderblue }

.color0        { BACKGROUND-COLOR: yellow }
.color1        { BACKGROUND-COLOR: aqua }
.color2        { BACKGROUND-COLOR: #7FFF00 }
